.login-text,
.revenue-text {
    color: rgb(8, 191, 8);
}

.mini-container {
    box-shadow: 1px 1px 20px rgb(187, 186, 186);
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(247, 247, 245);
}

.login-text-btn {
    background-color: rgb(6, 155, 75);
    color: rgb(35, 35, 35);
}

.login-text-btn:hover {
    background-color: rgb(6, 155, 75);
    color: rgb(35, 35, 35);
}

.login-text-btn:active {
    background-color: rgb(6, 155, 75);
    color: rgb(35, 35, 35);
}
.btn-bg{
    background: rgb(223, 219, 219);
}

.btn-bg:hover{
    background: rgb(223, 219, 219);
}
.btn-bg:active{
    background: rgb(223, 219, 219);
}

